<div class="component__inner refcred__inner">
    <div class="container ref-cred">
        <h2>{{{displayTitle}}}</h2>

        <div class="creditsandrefs">
            {{{body}}}            
        </div>
    </div>
</div>   
